* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img.html/astro1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.icono{
    border: 3px solid darkslategray;
    margin: 10px;
}
.arbol{
    
    justify-content: space-around;
    align-content: center;
    margin: 50px;
    width: 90vw;
}

h1{
    color: darkred;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    background-color: lightgrey;
    border: double 2px darkslategrey;
    margin: 30px;
    padding: 20px;
}
h2{
    color: indigo;
    font-style: unset;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 30px;
}
h3{
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 30px;
}
h4 {
    text-align: center;
    font-style: italic;
    font-size: large;
    margin: 50px;
}
h5{
    font-style: italic;
    font-size: large;
    color: navajowhite;
}

.cambi2 ul li a{
    color: bisque;
    text-decoration: none;
    margin: 30px;
}
ul li{
    display: inline-flex;
}
a:hover{
    color: firebrick;
    text-decoration: double;
}
.cambi1 {
    background-color: rgb(233, 226, 213);
} 
.parrafo{
    color: navy;
    font-family: cursive;
}
.corazan img {
    border: solid 3px darkgoldenrod;
}
.caja{
     display: grid;
     grid-template-columns: repeat 2, 200px;
     grid-template-rows: auto auto; 
     grid-template-areas: "imag1 cerebro" 
                        "imag2 corza";
     width: 90vw;    
     margin: 50px auto;
     row-gap: 25px;     
     column-gap: 20px;  
}
.img1{
    grid-area: imag1;
}
.cereb{
    grid-area: cerebro;
}
.img2{
    grid-area: imag2;
}
.corz{
    grid-area: corza;
}
.img1, .cereb, .img2, .corz{
    width: 85%;
    height: 85%;
    object-fit: cover;
}
.cajacoach{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    background-color: olive;
    padding: 30px;
}

.imagen{
    display: grid;
     grid-template-columns: repeat 2, 200px;
     grid-template-rows: auto auto; 
     grid-template-areas: "conejo manzana" 
                        "lobo pera"
                        "tigre naranja";
     width: 90vw;    
     margin: 50px auto;
     row-gap: 25px;     
     column-gap: 20px;  
}
.fotout{
    grid-area: conejo;
}
.fotocor{
    grid-area: lobo;
}
.fotolim{
    grid-area: tigre;
}
.rito1{
    grid-area: manzana; 
}
.rito2{
    grid-area: pera;
}
.rito3{
    grid-area: naranja;
}
.imagen img {
    border: solid 3px chocolate;
    margin-left: 30px;
}
p{
    margin: 30px;
}
.pie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.der{ 
    background-color: aliceblue;
    border: solid 3px darkslategray;
    padding: 20px;
    margin: 10px;
    width: 80vw;
}
.pie a{
    text-decoration: none;
    font-size: 20px;
    padding:  10p
}
.incluidos{
padding: 20px;
margin: 30px;
}
.incluidos p{
    color: navy;
    font-family: cursive;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conta{
    font-size: large;
    color: darkslategrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.formula{
    margin: 30px;
}
.enviar{
    display: flex;
    justify-content: end;
}
.biograf{
    background-color: antiquewhite;
    border: 3px solid indianred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: maroon;
    padding: 10px;
    margin: 40px;
}
.biografdos{
    background-color: rgb(245, 248, 251);
    border: 3px solid cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: darkcyan;
    padding: 10px;
    margin: 40px;
}



.acordeon{
    display: flex;
    justify-content: center;
}
.acordeonmio{
    background-color: mistyrose;
    border: none;
}
.acordeonmio1{
    background-color: lightyellow;
    border: none;
}
.acordeonmio2{
    background-color: aliceblue;
    border: none;
}
.sesion{
    border-top: 4px groove darkslategray;
    border-bottom: 4px groove darkslategray;
}
.sesion h2{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat 3, 200px;
    grid-template-rows: auto auto auto; 
    grid-template-areas: "vela gato llama" 
                       "cera pasto llama "
                       "cera pesto lapiz";
    width: 90vw;    
    margin: 60px auto;
    row-gap: 20px;     
    column-gap: 25px;  
}
.uno{
   grid-area: vela;
}
.dos{
   grid-area: gato;
}
.tres{
    grid-area: llama;
}
.cuatro{
    grid-area: cera;
}
.cinco{
    grid-area: pasto;
}
.seis{
    grid-area: pesto;
}
.siete{
    grid-area: lapiz;
}


@media (max-width: 576px){
    .cambi2 ul li{
        display: flex;
        flex-direction: column-reverse;   
        align-items: end;
    }
    .imagen{
        display: flex;
        flex-direction: column;
        }
    
    
    .caja{
        display: flex;
        flex-direction: column;
    }
    ul li{
        display: inline-flex;
        flex-direction: row;
        align-items: flex-end;
       
    }
} 