$color:
darkslategray,
darkred,
indigo,
darkmagenta,
navajowhite,
bisque,
firebrick,
navy,
darkgoldenrod,
black,
chocolate,
aliceblue,
antiquewhite,
indianred,
maroon,
rgb(245, 248, 251),
cadetblue,
darkcyan,
mistyrose,
lightyellow,
teal;

$fondos:
rgb(233, 226, 213),
olive,
aliceblue;

$margen:
10px,
20px,
30px,
40px,
50px,
60px,
100px;

$espacio:
5px
10px
20px
30px
