*{
    margin: 0;
    padding: 0;
}
#header_index{
    .cambi2{ 
        ul{
            li{
                display: inline-flex;
                   a{
                        color: bisque;
                        text-decoration: none;
                        margin: 30px;
                        &:hover{
                            color: firebrick;
                            text-decoration: double;
                           }
                    }
               }
           }
       }
   
     .cambi1{
        background-color: rgb(233, 226, 213);           
       }
    
     @media (max-width: 576px){
         @include ordenar(flex, center, wrap)
       }
   };


.cajacoach{
    background-color: $color 1;
    @include ordenar(inline-flex, row, flex-end);
    @include margen(30px, 30px, 0, $color 1);

.body{
    background-image: url(../img.html/astro1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    .icono{
        border: 3px solid darkslategray;
        @include margen(30px, 30px, 0, 0,)
    }


   .class{
    color: nth($color , 1);
    padding: nth($size , 1);
    font-size: nth($size , 2);
    margin: nth($margen , 1);
   }
   .algunaclase{
    background-color: map-get($map: $cabecera, $key: bg-ppl)
   }
}